@use '../../styles/_vars.scss';

.logger {
    left: 0;
    margin-left: 3px;
    position: fixed;
    top: 25vh;
    display: flex;
    width: 300px;
    transition: transform .3s;
    transform: translateX(-190px);
    &--open {
    transform: translateX(0);
        .logger__toggler {
          transform: rotate(45deg);
        }
    }
    &__form {
    display: flex;
    flex-direction: column;
    
    };
    &__input {
      border-radius: 4px;
      padding-left: 3px;
      margin: 1.5px;
      border: none;
    };
    &__submit{
      background-color: vars.$color-alt;
      border: none;
      color: white;
      border-radius: 4px;
      margin: 3px;
    }
    &__toggler {
      margin-left: 0.7rem;
      color: white;
      font-weight: 700;
      background-color: vars.$color-alt;
      border: none;
      font-size: 2rem;
      width: 40px;
      height: 40px;
      border-radius: 3rem;
    }
    &__toggler:hover {
    transform:scale(1.2);
    transition: transform .45s;
      }
};
