@use '../../styles/_vars.scss';

.writeMessage {
  width: 30rem;
  border-radius: 0px 0px 4px 4px;
  &__input {
      width: 80%;
      height: 2rem;
      border:none;
      padding: 8px;
  }
  &__button {
        height: 2rem;
        width: 20%;
        color: vars.$color-alt;
        font-weight: 600;
        background-color: white;
        border:none;
  }
};
